.servicos
{
    padding: 10px;
}

form#form-servicos
{
    display: flex;
    flex-direction: column;
    width: 40%;
}

p#add-servico
{
    cursor: pointer;
    display: flex;
    align-items: center;
}